<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lubin.guitar">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreviewSong"
            android:label="Přehraj skladbu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrySong"
            android:label="Zkus hrát"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChoiceAccount"
            android:label="Vyber účet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayAcord"
            android:label="Zahraj si akordy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserAccount"
            android:label="Napiš jméno a heslo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsScreen"
            android:label="Nastavení"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />

        <activity android:name=".TeacherAccount"
            android:label="Napište jméno a heslo"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />

        <activity android:name=".Teacher"
            android:label="Nastavení aplikace"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />

        <activity android:name=".EditUser"
            android:label="Editace uživatele"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />

    </application>

</manifest>